<article class="center cf pv5 ph3 ph4-ns mw7 jp" id="l{{.lessonIndex}}">
    {{ $title:= replaceRE `!(.*?)\((.*?)\)` "<ruby>$1<rt>$2</rt></ruby>" .title }}

    <h2 class="f2">
        第{{$.lessonIndex}} 课 {{ $title | safeHTML }}
    </h2>

    {{/*  <audio id="lessonplayer" controls style="width:100%;">
        <source src="/audio/lesson/l{{$.lessonIndex}}.mp3" type="audio/mpeg" />
    </audio>  */}}
    {{/*  <div> 
        <button onclick="document.getElementById('lessonplayer').play()">Play</button> 
        <button onclick="document.getElementById('lessonplayer').pause()">Pause</button> 
        <button onclick="document.getElementById('lessonplayer').volume += 0.1">Vol +</button> 
        <button onclick="document.getElementById('lessonplayer').volume -= 0.1">Vol -</button> 
    </div>  */}}

    <h3 class="f3">基本課文</h3>

    <div class="base_lesson" id="bl{{$.lessonIndex}}">
        {{ replaceRE `!(.*?)\((.*?)\)` "<ruby>$1<rt>$2</rt></ruby>" .basic4 | markdownify }}
    </div>

    <div class="details admonition note">
        <div class="details-summary admonition-title"><i class="icon fas fa-bolt-lightning fa-fw"
                aria-hidden="true"></i>翻译<i class="details-icon fas fa-angle-right fa-fw" aria-hidden="true"></i>
        </div>
        <div class="details-content">
            <p> {{ .basic4t | markdownify }} </p>
        </div>
    </div>

    <div>
        {{ replaceRE `!(.*?)\((.*?)\)` "<ruby>$1<rt>$2</rt></ruby>" .basicc | markdownify }}
    </div>
    <div class="details admonition note">
        <div class="details-summary admonition-title"><i class="icon fas fa-bolt-lightning fa-fw"
                aria-hidden="true"></i>翻译<i class="details-icon fas fa-angle-right fa-fw" aria-hidden="true"></i>
        </div>
        <div class="details-content">
            <p> {{ .basicct | markdownify }} </p>
        </div>
    </div>
    
    <h3 class="f3"> 应用課文 </h3>
    <div class="advanced_lesson" id="al{{$.lessonIndex}}">
        {{ replaceRE `!(.*?)\((.*?)\)` "<ruby>$1<rt>$2</rt></ruby>" .context | markdownify }}
    </div>
    <div class="details admonition note">
        <div class="details-summary admonition-title"><i class="icon fas fa-bolt-lightning fa-fw"
                aria-hidden="true"></i>翻译<i class="details-icon fas fa-angle-right fa-fw" aria-hidden="true"></i>
        </div>
        <div class="details-content">
            <p> {{ .contextt | markdownify }} </p>
        </div>
    </div>

</article>