<article class="center cf pv5 ph3 ph4-ns mw7 jp" id="l{{.lessonIndex}}">
    {{ $title:= replaceRE `!(.*?)\((.*?)\)` "<ruby>$1<rt>$2</rt></ruby>" .title }}

    <h2 class="f2">
        第{{$.lessonIndex}} 课 {{ $title | safeHTML }}
    </h2>
    <div style="height:100px; align-items:center;margin:auto; display:flex">
        <h3 class="f3"> 基本課文
            <audio id="lessonplayer" controls>
                <source src="/audio/lesson/l{{$.lessonIndex}}.mp3" type="audio/mpeg" />
            </audio>
        </h3>
    </div>


    <div class="base_lesson" id="bl{{$.lessonIndex}}">
        {{ replaceRE `!(.*?)\((.*?)\)` "<ruby>$1<rt>$2</rt></ruby>" .basic4 | markdownify }}
        {{ replaceRE `!(.*?)\((.*?)\)` "<ruby>$1<rt>$2</rt></ruby>" .basicc | markdownify }}
    </div>

    <h3 class="f3"> 应用課文 </h3>
    <div class="advanced_lesson" id="al{{$.lessonIndex}}">
        {{ replaceRE `!(.*?)\((.*?)\)` "<ruby>$1<rt>$2</rt></ruby>" .context | markdownify }}
    </div>
</article>

{{/* <button class="btn btn-default btn-sm starttranslate" disabled="false">开始翻译</button> */}}